# System & OS Artifacts
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
*.tmp
*.temp
*~

# Logs & Large Data Files
*.log
*.evtx
*.pcap
*.pcapng
*.iso
*.vmdk
*.vdi

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Editor & IDE configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
